.spza_reviewContainer{
    width: 90%;
    max-width: 1300px;
    margin: auto;
    padding-bottom: 50px;
    .reviewHeader{
        font-size: 25px;
        color: #0078D7;
        margin: 40px 0;
    }
    .reviewItem{
        display: flex;
        border-bottom: 1px solid #D3D3D3;
        padding-bottom: 10px;
        margin-bottom: 10px;
    
        .leftBar{
            width: 150px;
            height: 150px;
            
            .iconHost {
                width: $metadataWidth;
                height: $metadataWidth;
                margin-bottom: 12px;                    
    
                .appLargeIcon{
                    max-width: $metadataWidth;
                    max-height: $metadataWidth;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .appTitle{
                font-size: 15px;
                font-weight: 600;
            }
        }
    
        .rightContent{
            width: 100%;

            .rightBar{
                margin-left: 70px;
                height: calc(100% - 50px);
        
                .contentHeader{
                    font-size: 20px;
                    font-weight: 600;
                }
            
                .reviewRating{
                    >span {
                        font-size: 16px;
                        
                        &:after {
                            content: $glyph-favorite-star-fill;
                            color: #0078D7;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                
                .reviewDate, .content, .contentHeader{
                    margin-bottom: 5px;
                }
                
                .content{
                    font-size: 17px;
                }
            
            
            }

            .writableButtons{
                float: right;

                .confirmDeteleText{
                    color: #0078D7;
                    background-color: white;
                    cursor: default;

                    &:hover{
                        border: 1px solid transparent;
                    }
                }

                .reviewButton{
                    background-color: white;
                    color: #0078D7;

                    &:focus{
                        outline: none;
                        border: 1px solid transparent;
                    }
                    
                    &:hover{
                        background-color: #0078D7;
                        color: white;
                        border: none;
                    }

                    &.confirm{
                        min-width: 50px;
                    }
                }
            }
        }
    }
}