.spza_defaultText{
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */

    &:focus {
        position: relative;
        display: block;
        clip: auto;
        padding: 0.5em;
        font-family: Segoe UI light;
        min-width: 200px;
        height: auto;
        overflow: auto;
        left: 45%;
        font-size: 20px; 
        text-decoration: underline; 
    }
}

.spza_homePage{
    width: 100%;
    max-width: none;
    align-self: stretch;
    margin-bottom: 0;
    flex: auto;
    position: relative;

    .section {
        flex: none;
        padding: 15px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .homeTop{
        color: white;
        padding: 0;
        background-image: url(/images/homeBackground.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;

        .landingBackground{
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .landingHeader, .landingSubHeader{
            z-index: 1;
            text-align: center;
        }

        .landingHeader{
            padding: 48px 30px 2px 30px;
            font-size: 40px;
        }

        .landingSubHeader{
            padding: 8px 30px 4px 30px;
        }

        .wizard {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 30px 40px 30px;

            .homeFilters{
                min-width: 500px;
                white-space: nowrap;

                .homeGroups{
                    display: flex;
                    justify-content: space-around;

                    @media (max-width: 1083px){
                        min-width: 0;
                    }

                    @media (max-width: 767px){
                        display: none;
                    }

                    .homeGroup{
                        margin-left:70px;

                        @media (max-width: 1083px){
                            margin-left: 10px;
                        }

                        > span {
                            font-size: 13px;
                            line-height: 24px;
                            opacity: .8;
                            cursor: default;
                        }

                        .groupHeader{
                            font-size: 14px;
                            font-weight: 100;
                            margin: 10px 0 6px 0;
                            opacity: .8;
                            padding:0;
                        }

                        .filterItem{
                            &.homeFilterDisabled {
                                display: none;
                            }

                            .filterItemName{
                                font-size: 13px;
                                line-height: 24px;
                                display: flex;
                                align-items: center;
                                margin: 0;
                                bottom: 0;
                                position: relative;

                                .productIcon ~ .filterText {
                                    padding-left: 26px !important;
                                }

                                input{
                                    width: 12px;
                                    height: 12px;
                                    top: 6px;
                                }
                                
                                input[type=checkbox] + span {
                                    padding-left: 20px;
                                    display: block;
                                    flex: auto;
                                    min-width: 100px;
                                }

                                input[type=checkbox]:checked + span:after{
                                    font-size: 10.2px;
                                }

                                input[type=checkbox]:focus + span:before{
                                    outline: 1px dotted #0078D7;
                                } 

                                input[type=checkbox]:checked + span:before{
                                    box-shadow: inset 0 0 0 10px #0078D7;
                                }

                                input[type=checkbox] + span:before{
                                    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5), inset 0 0 0 10px transparent;
                                    width: 12px;
                                    height: 12px;
                                    margin-top: 6px;
                                }

                                .productIcon {
                                    position: absolute;
                                    top: 2px;
                                    left: 20px;
                                }

                                .resultCount{
                                    opacity: .5;
                                    text-align: right;
                                    font-size: 11px;
                                    padding-right: 8px;
                                    min-width: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .homeResult{
        .spza_group {
            margin-top: 32px;
        }

        .spza_pager {
            justify-content: center;

            > .spza_tileWrapper{
                display: inline-block;
            }
        }

        .spza_pagerWrapper {
            margin: 0;
        }

        .spza_headerText {
            margin-left: 20px;
            padding-left: 0;
            text-align: left;
            font-size: 28px;
        }
        
        .header {
            margin-left: 0;
        }

        .segueRibbonSubHeader {
            margin-left: 20px !important;
        }
    }

    .homeMarketing{
        padding: 20px 0 68px 0;
        background-color: #0078d7;
        color: white;

        .marketList{
            min-width: 600px;
            max-width: 1080px;

            @media (max-width: 1228px){
                max-width: 860px;
            }

            @media (max-width: 965px){
                max-width: 640px;
            }

            @media (max-width: 726px){
                min-width: 420px;
                max-width: 420px;
            }

            @media (max-width: 539px){
                min-width: 0;
                width: 100%;
            }

            .marketContent{
                width: 100%;

                .marketCard{
                    width: 33.3333333333%;
                    float: left;

                    @media (max-width: 767px){
                        float: none;
                        width: 100%;
                        display: block;
                    }

                    .cardContent{
                        padding: 0 12px 0 12px;
                        text-align:center;
                        margin-top: 48px;

                        .staticImg{
                            width: 150px;
                            height: 150px;
                            margin: auto;
                        }

                        .marketHeader{
                            font-size: 24px;
                            line-height: 28px;
                            overflow: hidden;
                            box-sizing: content-box;
                            max-height: 56px;
                            padding-top: 12px;
                        }

                        .marketParagraph{
                            margin-top: 8px;
                            max-height: none;
                            padding-top: 2px;
                        }
                    }
                }
            }
        }
    }
}
