$metadataWidth: 48px;
@mixin text-overflow-style() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.spza_dialog{
    cursor: default;

    &[aria-hidden="true"] {
        display: none;
    }

    [role="dialog"] {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: $color-background;
        border: 1px solid $color-accent;
        margin: 0 auto;
        padding: 36px;
        z-index: 2200; // Search bar has z-index of 1200 and main menu is 2200
        width: 482px;
        box-sizing: content-box;
    }

    .spza_presentation{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000; // Changed from 999 since Search bar has z-index of 1000

        &:focus {
            outline: none;
        }
    }

    .spza_background_1 {
        background: rgba(0, 0, 0, 0.3);        
    }

    .spza_background_2 {
        background: rgba(255, 255, 255, 0.8);
    }    

    .consentModalClass {
        height: 300px;
        overflow: hidden;

        .termLinks a{
            color : #0078D7;
            &:hover {
                text-decoration: underline;
            }
        }

        .consentTerms {
            float: left;
            padding-left: 24px;
            margin-bottom: 20px;
        }

        .aniDot{
            margin-top: 100px;
        }

        .loginInfo {
            font-size: 12px;
            span {
                font-weight: 600;
            }
        }

        .accountInformation {
            color : #0078D7;
        }
    }

    .errorModalClass{
        height: 200px;
        width: 380px !important;

        .errorModal{
            margin:25px 35px 35px 50px;
        }

        .errorContent{
            .dismissErrorButton{
                position: absolute;
                bottom: 36px;
                right: 36px;
    
                button{
                    margin: 0;
                }
            }
        }
    }

    .signInModalClass {
        height: 300px;

        .newSignInModal {
            .signInModal {
                margin: 0px;

                .title {
                    font-size: 27px;
                    font-weight: lighter;
                    padding: 0 0 15px 0;
                    height: 32px;
                    @include text-overflow-style;
                }
                
                .subTitle, .signupFooter, .cellHeader {
                    font-size: 13px;
                }

                .disclaimer {
                    margin: 15px 0 10px 0;
                    font-size: 10px;
                    display: flex;
                    span {
                        &:after {
                            content: $glyph-info;
                            width: 28px;
                            height: 28px;
                            font-size: 22px;
                            padding-top: 4px;
                        }
                    }
                }

                .signInFormCell {
                    padding-bottom: 7px;

                    input.c-text-field[type="text"].f-flex {
                        max-width: 472px;
                    }                 

                    .signInInput{
                        margin: 10px 0 10px 0;
                        height: 20px;
                    }
                }

                .signupFooter {
                    margin-top: 45px;
                }
            }            
        }

        .signInModal {
            margin:25px 35px 35px 50px;

            .signInFormCell {
                padding-bottom: 7px;

                .signInInput{
                    margin: 10px 0 10px 0;
                    padding: 6px 4px 6px 4px;
                    height: 20px;
                }
            }
        }

        .signInButton {
            width: 100%;
            float: left !important;

            button {
                width: 140px;
                margin: 0 !important;
                &:disabled{
                    background-color: silver;
                    color: #fff;
                }                
            }
        }

        .signupFooter {
            margin-top: 66px;
            
            span {
                margin-left: 5px;
                color : #0078D7;
                &:hover {
                    text-decoration: underline;
                }
            }

            button {
                background: transparent;
                border: none;
                color: #0078D7;
            }
        }
    }

    .leadFormModalClass{
        height: 540px;

        .leadTerm {
            padding: 0;

            a {
                color : #0078D7;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .leadSubmitHeader{
            font-size: 24px;
            font-weight: lighter;
            margin-bottom: 30px;
        }

        .leadSubmitSubHeader{
            font-size: 13px;
        }

        .leadSubmitCheck{
            text-align: center;
            margin-top: 100px;
        }

        .leadGen {

            .formCell {
                margin-top: 10px;
                align-items: center;
                position: relative;
                height: 30px;
                display: flex;
            
                .cellHeader {
                    width: 165px;
                    margin-right: 5px;
                    overflow: hidden;
                    max-height: 37px;
                    position: relative;
                    float: left;
                    color:#666;
                    font-size: 13px;
                    padding-top: 5px;
            
                    .header {
                        float: left;
                    }
            
                    .required {
                        margin-left: 6px;
                        width: 6px;
                        height: 6px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            
                .cellInput {
                    height: 24px;
                    margin-top: 0;
                    padding: 2px 10px;
                    width: calc(100% - 140px);
                }
            
                .cellDropdown,
                .cellInput {
                    float: left;
                }
            }
        }

        .leadConsentBottomBar {
            position: absolute;
            right: 36px;
            bottom: 36px;
        }
    }

    .prompContainer {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        background: #fff;
        width: inherit;
        height: inherit;
        padding: 36px;

        .toolBar {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 36px;

            .cancel {
                border: none;
                background: #fff;
                float: right;
                padding-top: 12px;
                padding-right: 12px;

                span {
                    &:after {
                        content: $glyph-cancel;
                        width: 16px;
                        height: 16px;
                        font-size: 14px;
                    }
                }
            }
        }

        .contentHeader {
            font-size: 24px;
            font-weight: lighter;
            margin: 0 0 20px 0;
            padding: 0 0 2px 0;
            height: 32px;
            @include text-overflow-style;
        }
        
        .trunk {
            height: 48px;

            .miniIcon {
                height: 48px;
                width: 48px;
                margin-right: 12px;
                float: left;
                
                .thumbnail{
                    width: 100%;
                    height: 100%;
                }
            }

            .trunkContent {
                float: left;

                @media(max-width: 620px){
                    float: none;
                }

                .header {
                    @include text-overflow-style;
                    display: block;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 600;
                }

                .subHeader {
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                }
            }
        }

        .terms {
            margin: 20px 0 20px 0;
            font-size: 12px;
            font-family: Segoe UI;
            position: relative;
            
            >a{
                cursor: pointer;
            }
            
            .termCheckbox{
                position: absolute;
                top: 0;
                
                .checkboxLabel{
                    margin: 0;
                }
                input[type=checkbox]:checked + span:after{
                    font-size: 12px;
                    padding: 0;
                }
                span{
                    display: block;
                    &:before{
                        top: 4px;
                        height: 12px;
                        width: 12px;
                    }
                }
            }
        }

        .testDriveContent {
            float: left;
            padding-left: 0px;
            padding-bottom: 10px;
            font-size: 14px;
        }

        .testNavigationContent {
            float: left;
            padding-left: 0px;
            padding-bottom: 10px;
            font-size: 16px;
        }
        
        .bottomBar {
            width: 100%;
            padding-top: 10px; 
        }
        .consentBottomBar {
            position: absolute;
            right: 36px;
            bottom:36px;
        }
        
        .bottomBar .requestButton, .consentBottomBar .requestButton, .leadConsentBottomBar .requestButton{
            margin: 0;
            float: right;

            &:disabled{
                background-color: silver;
                color: #fff;
            }
        }
    }

    // the following styles are all about media query
    .consentModalClass, .signInModalClass, .leadFormModalClass, .prompContainer {
        @media(max-width: 620px){
            width: 365px;
        }

        @media(max-width: 460px){
            width: 200px;
        }
    }

    .leadFormModalClass {
        @media(max-width: 620px){
            height: 556px;
        }

        @media(max-width: 460px){
            height: 653px;

            .header {
                max-width: 200px;
            }

            .trunk {
                margin-bottom: 10px;
            }
        }
        @media(max-height: 630px){
            height: 70%;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    .consentModalClass {
        @media(max-width: 620px){
             .termCheckbox{
                left: 0 !important;
            }

            .header{
                max-width: 367px;
            }
        }

        @media(max-width: 460px){
            height: 375px;

            .header {
                max-width: 200px;
            }

            .trunk {
                margin-bottom: 50px;
            }
        }

        @media(max-height: 370px){
            height: 70%;
            overflow-y: auto;
            overflow-x: hidden;

            .terms{
                margin-bottom: 20px; 
            }

            .consentBottomBar{
                position: static;
                right: auto;
                bottom: auto;
            }
        }
    }

    .signInModalClass{
        @media(max-width: 460px){
            .signInModal{
                margin: 0;
            }
        }
         @media(max-height: 370px){
            height: 70%;
            overflow-y: auto;
            overflow-x: hidden;
         }
    }

    .errorModalClass{
        @media(max-width: 500px){
            width: 270px !important;
            
            .errorModal{
                margin: 0;
            }
        }
    }

    .npsModalClass {
        width: 345px;
        height: 420px;

        .npsModal{
            color: #333333;

            .contentHeader{
                font-size: 18px;
            }

            .rateHeader{
                font-size: 12px;
                margin-bottom: 10px;
            }

            .rateSlider{
                width: 100%;
                height: 65px;
                margin-bottom: 10px;

                .ratingControl{
                    display: table;
                    border-spacing: 7px;
                    position: relative;
                    left: -7px;

                    .ratingBlock{
                        display: table-cell;
                        cursor: pointer;
                        padding: 3px 7px;
                        border: 1px solid #006cc2;
                        background: #ffffff;

                        &:hover, &.ratingSelected{
                            background: #006cc2;

                            .ratingNumber{
                                color: #ffffff;
                            }
                        } 
                        
                        .ratingNumber{
                            color: #006cc2;
                            display: block;
                            text-align: center;
                            margin-bottom: 2px;
                        }

                        &.ratingTen{
                            padding: 3px 3px 3px 4px;
                        }
                    }
                }

                .ratingLabel{
                    .ratingLeftLabel, .ratingRightLabel{
                        color: #8790a0;
                        font-size: 90%;
                    }

                    .ratingLeftLabel{
                        float: left;
                    }

                    .ratingRightLabel{
                        float: right;
                    }
                }
            }

            .rateReasonInput{
                font-size: 12px;

                .inputHeader{
                    margin-bottom: 7px;
                }

                .npsTextArea{
                    width: 98%;
                    height: 135px;
                    margin: 0;
                    padding: 2px;
                    resize: none;
                    border: 1px solid #333;

                    &:focus, &:active {
                        outline: none;
                    }
                }

                ::-webkit-scrollbar{
                    width: 12px;
                }
                
                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background: #D2D2D2; 
                }
                
                ::-webkit-scrollbar-thumb:window-inactive {
                    background: #D2D2D2; 
                }
            }

            .npsPrivacy{
                .privacyHeader{
                    margin: 2px 0 0 0;
                    font-size: 11px;

                    input, input[type='checkbox']+span:before, input[type='checkbox']+span:after{
                        height: 12px;
                        width: 12px;
                        font-size: 11px;
                    }

                    span {
                        line-height: 15px;
                        padding-left: 20px;

                        &:before{
                            top: 2px;
                        }

                        &:after{
                            padding-top: 1px;
                        }

                        a {
                            padding-left: 2px;
                            margin-left: 0;
                        }
                    }
                }
            }

            .npsPrivacy + input.c-text-field[type="text"]{
                font-size: 12px;
            }  
            
            .npsEmailInput{
                margin: 2px 0 0 0;
                width: 98.5%;
                height: 20px;
                padding: 0 0 3px 3px;   
            }

            .invalidEmailInput{
                border-color: red;
                color: red;
            }

            .npsButton{
                height: 48px;

                .invalidEmailText{
                    font-size: 11px;
                    color: red;
                }

                .submitButton{
                    float: right;
                    margin-top: 20px;
                }
            }
        }
    }

    .ratingModalClass{
        width: 600px;
        height: 424px;
        padding: 20px;

        .prompContainer{
            padding: 20px;
           
            .topBar{
                height: 56px;

                .contentHeader{
                    float: left;
                    margin-top: 0;
                    margin-bottom: 16px;
                }

                .cancel{
                    border: none;
                    background: #fff;
                    float: right;

                    span {
                        &:after {
                            content: $glyph-cancel;
                            width: 8px;
                            height: 36px;
                        }
                    }
                }
            }
        }

        .ratingSuccessDialog{
            .successHeader{
                font-size: 25px;
                font-weight: 200;
            }
            .successCheck{
                position: relative;
                text-align: center;
                padding-top: 20%;
            }
            .successFooter{
                position: absolute;
                right: 36px;
                bottom: 36px;
            }
        }

        .ratingModal{
            .section1{
                height: 48px;

                .iconHost {
                    float: left;
                    width: $metadataWidth;
                    height: $metadataWidth;

                    .appLargeIcon{
                        max-width: $metadataWidth;
                        max-height: $metadataWidth;
                    }
                }

                .titles{
                    float: left;
                    padding-left: 12px;
                    
                    .appTitle{
                        font-size: 15px;
                        line-height: 18px;
                        color: #000;
                        font-weight: 600;
                    }
                }
            }

            .section2{
                width: 100%;

                .ratePane {
                    float: left;

                    .requiredField{
                        .required{
                            float: left;
                            width: 10px;
                            padding-top: 7px;
                        }
                        .ratingLabel{
                            font-weight: 600;
                            font-size: 15px;
                            padding: 16px 0 8px 0;

                            .labelchoice{
                                display: inline;
                                padding-left: 5px;
                            }
                        }
                    }
                    .c-rating{
                        .f-fill {
                            &:before{
                                content: $glyph-favorite-star-fill;
                                color: #0078D7;
                            }
                        }
                    }
                }

                .contactDropdown {
                    float: left;
                    padding-left: 37px;

                    .menuHeader {
                        display: block;
                        padding: 16px 0 8px 3px;
                        font-weight: 600;
                    }
                    .menuItem {
                        .valueBox {
                            border: none;
                            padding: 12px 0 12px 3px;

                            .item{
                                padding: 3px 0 3px 0;

                                span{
                                    width: 130px;
                                }
                            }
                        }

                        .c-menu {
                            .c-menu-item li {
                                padding-left: 3px;
                            }
                        }
                    }
                }
            }
            .reviewContainer {
                clear: both;

                .topMessage{
                    padding: 12px 0px 6px 0px;
                    font-size: 12px;
                    line-height: 16px;
                    color: #565656;
                    margin: 0;
                }
                
                .ratingTitleInput{
                    margin-top: 0;
                    max-width: none;
                }

                .ratingTitleInput, .ratingTextArea{
                    width: 97.5%;
                    padding: 2px 6px 2px 6px;

                    &:focus, &:active {
                        outline: none;
                    }
                }
            }

            .ratingButton{
                position: absolute;
                bottom: 20px;
                right: 21px;
    
                .requestButton{
                    float: right;

                    &:disabled{
                        background-color: silver;
                        color: #fff;
                    }
                }
            }
        }
    }

    .driveModalClass{
        width: 1200px;
        height: 711px;
        padding: 0;
        border: none;

        .dialogContent{
            height: inherit;

            .toolBar{
                height: 36px;

                .cancel {
                    border: none;
                    background: white;
                    float: right;
                    padding: 0 6px;
                    
                    span {
                        &:after {
                            content: $glyph-cancel;
                            width: 36px;
                            height: 36px;
                            line-height: 36px;
                        }
                    }
                }
            }

            .driveContainer {
                iframe {
                    border: none;
                }
            }
        }
    }

    .fieldHubModalClass{
        width: 1200px;
        height: 711px;
        padding: 0;

        .dialogContent{
            height: inherit;

            .toolBar{
                height: 36px;

                .cancel {
                    border: none;
                    background: white;
                    float: right;
                    padding: 0 6px;
                    
                    span {
                        &:after {
                            content: $glyph-cancel;
                            width: 36px;
                            height: 36px;
                            line-height: 36px;
                        }
                    }
                }
            }

            .iframeContainer {
                iframe {
                    border: none;
                }
            }
        }
    }

    .disclaimerModalClass {
        .prompContainer {
            border: #55b3ff 1px solid;
        }

        .title {
            font-size: 18px;
        }

        .description {
            font-size: 13px;
            margin-top: 25px;
        }

        .footer {
            height: 40px;
            margin-top: 30px;
            float: right;
        }
    } 
}

.spza_dialog_design2 {
    [role="dialog"] {
        border: none !important;
    }    
}