.richTextDropDown {
    background-color: #fff;
    &>.valueBox {
        width: 100%;
        display: table;
        border: solid 1px #999;
        padding: 0;
        transform: translate(0, 0);
        cursor: pointer;
        color: #333;
        font-weight: normal;
        &>* {
            display: table-cell;
        }
        &:after {
            content: '';
            display: none;
        }
        &>.toggle {
            display: table-cell;
            width: 35px;
            text-align: center;
            vertical-align: middle;
            padding-top: 4px;
            span:before {
                content: $glyph-chevron-down;
            }
        }
        &[aria-expanded='true'] {
            border-bottom: none;
            &>.toggle {
                span:before {
                    content: $glyph-chevron-up;
                }
            }
        }
        .item {
            padding: 3px 0 3px 10px;
            &>span {
                display: block;
                width: 120px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
    &>.c-menu {
        background-color: white;
        border: solid 1px #999;
        min-width: 100%;
        z-index: 999;
        max-height: 400px;
        overflow-y: auto;
        &>.placeholder {
            width: 35px;
        }
        li {
            cursor: pointer;
            display: table;
            min-width: 100%;
            &.highlight {
                background-color: #2f59a8;
                .item {
                    color: #fff;
                }
            }
            .value {
                display: table-cell;
            }
            .placeholder {
                display: table-cell;
                width: 35px;
            }
            .item {
                padding: 3px 0 3px 10px;
                color: #333;
                font-weight: normal;
                white-space: nowrap;
            }
        }
    }
}