.field-hub {
  display: flex;
  flex-direction: column;

  .field-body {
    background: #1a1a1a;
    text-align: center;
  }

  .field-header {
    margin-top: 50px;

    .title {
      font-size: 34px;
      color: #ffffff;
      font-weight: lighter;
    }

    .sub-title {
      font-size: 15px;
      color: #bbbbbb;
      margin-top: 20px;
    }
  }

  .field-sections {
    margin: 40px 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .seperator {
      border-left: 1px solid #4d4d4d;
    }

    .sales {
      padding-right: 70px;

      .icon {
        background-image: url(/images/sales.svg);
      }
    }

    .consumption {
      padding-left: 70px;

      .icon {
        background-image: url(/images/consumption.svg);
      }
    }

    .sales,
    .consumption {
      .section-header {
        width: 350px;
        margin-left: 70px;

        .icon-container {
          display: inline-block;
          text-align: center;
        }

        .icon {
          height: 80px;
          width: 80px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          background-color: transparent;
          border: none;
        }

        .section-title {
          margin-top: 38px;
          font-size: 24px;
          color: #ffffff;
          font-weight: lighter;
        }

        .description {
          font-size: 15px;
          color: #bbbbbb;
          margin-top: 24px;
        }
      }

      .columns {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;
        text-align: left;
        color: #ffffff;
        font-size: 18px;

        .field-column {
          ul {
            margin-top: 15px;
            min-height: 80px;
          }

          li {
            color: #55b3ff;
            font-size: 15px;
            cursor: pointer;
          }

          li::before {
            content: "•  ";
            color: #ffffff;
          }

          .learn-more {
            margin-top: 30px;
            font-size: 15px;

            .video {
              color: #55b3ff;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .field-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2272b9;

    .title {
      margin-top: 60px;
      font-size: 34px;
      font-weight: 300;
      color: #ffffff;
    }

    textarea {
      margin-top: 40px;
      padding-left: 10px;
      border: 1px solid #ffffff;
      background: #2272b9;
      color: white;
      opacity: 0.7;
      width: 600px;
      height: 80px;
    }

    .submit {
      margin: 20px 0 60px 0;
      background: white;
      color: black;
      font-size: 13px;
      width: 165px;
      height: 30px;
      border: none;
    }
  }
}
