$metadataWidth: 96px;
.spza_testDriveContainer{
   width: 100%;

    .spza_content {
        width: 90%;
        align-self: center;
        margin: auto;
        max-width: $max-content-width;
        display: flex;

        .testDrive_content {
            width: 100%;
            margin: auto;
            padding-bottom: 90px;

            .testDrive_spinnerContent {
                margin: 0 auto;
                padding-top: 48px;
                width: 400px;

                .c-animation {
                    padding-left: 150px;
                    text-align: center;
                }
            }

            .headerContainer {
                display: flex;
                flex-direction: row;

                .iconHost {
                    width: $metadataWidth;
                    height: $metadataWidth;
                    .thumbnailSpacer {
                        height: 100%;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .appLargeIcon {
                        max-width: $metadataWidth;
                        max-height: $metadataWidth;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .headerSubContainer {
                    display: flex;
                    flex-direction: column;
                    padding-left: 24px;

                    .c-heading-5 {
                        padding-top: 0px;
                    }

                    .c-heading-4 {
                        padding-top: 0px;
                    }
                }

            }

            .navigationBar {
                height: 60px;
                .breadcrumb {
                    @include text-overflow-style();
                    .goBackButton,
                    .appTabButton {
                        background-color: transparent;
                        margin: 0;
                        font-size: 14px;
                        line-height: 60px;
                        max-width: none;
                        min-width: initial;
                        display: inline;
                        border: none;
                    }
                    .goBackButton {
                        padding: 0 10px 0 0;
                        &:hover {
                            color: #0078D7;
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                    .appTabButton {
                        padding: 0 6px;
                        cursor: default;
                    }
                    span {
                        line-height: 57px;
                        font-size: 11px;
                        &:before {
                            content: $glyph-chevron-right;
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }

            .testDrive_container {
                display: flex;
                flex-direction: row;
                padding-top:24px;
                padding-bottom:50px;
                @media (max-width: 1200px) {
                        flex-direction: column;
                }

                    .titleSubHeader {
                        padding-top:0px;
                        @media (max-width: 1200px) {
                            padding-top: 37px;
                        }
                    }

                    .testDrive_subcontainer {
                        display: flex;
                        flex-direction: column;
                        padding-right: 48px;
                        max-width: 700px;
                        margin-right: 48px;


                        .markdown {
                            padding-left:20px;
                            max-width: 650px;
                        }

                        .container {
                            display: flex;
                            flex-direction: column;
                            max-width: 700px;
                            }

                        .description {
                                font-size: 13px;
                                line-height: 20px;
                                a {
                                    color: #0078D7;
                                }
                                >ul {
                                    margin: 13px 0 !important;
                                    padding-left: 40px !important;
                                    list-style-type: disc !important;
                                }
                                >p {
                                    margin: 13px 0 !important;
                                }
                                >h1,
                                >h2,
                                >h3,
                                >h4,
                                >h5,
                                >h6,
                                >header {
                                    padding: 0 0 4px !important;
                                    font-weight: 200 !important;
                                    font-size: 18px !important;
                                    line-height: 24px !important;
                                    b {
                                        font-weight: 200;
                                    }
                                }
                            }

                            .bannerContainer {
                                display: flex;
                                flex-direction: row;
                                border: solid;
                                border-width: 1px;
                                border-color: grey;
                                min-height: 130px;
                                min-width: 700px;

                                .progressSideBand {
                                    background-color: rgba(252,238,99,0.4);
                                    width: 50px;
                                    border-right: solid;
                                    border-color:#4d4d4d;
                                    border-width: 1px;

                                    .bandImage {
                                        height: 24px;
                                        width: 24px;
                                        margin-top: 24px;
                                        margin-left: 12px;
                                        margin-right: 12px;
                                    }
                                }

                                .readySideBand {
                                        background-color: rgba(34,181,115,0.4);
                                        width: 50px;
                                        border-right: solid;
                                        border-color:#4d4d4d;
                                        border-width: 1px;

                                        .bandImage {
                                            height: 24px;
                                            width: 24px;
                                            margin-top: 24px;
                                            margin-left: 12px;
                                            margin-right: 12px;
                                        }
                                }

                                .doneSideBand {
                                        background-color: rgba(204,204,204,0.4);
                                        width: 50px;
                                        border-right: solid;
                                        border-color:#4d4d4d;
                                        border-width: 1px;

                                        .bandImage {
                                            height: 24px;
                                            width: 24px;
                                            margin-top: 24px;
                                            margin-left: 12px;
                                            margin-right: 12px;
                                        }
                                }
                            }

                            .bannerColumnContainer {
                                display: flex;
                                flex-direction: column;
                                min-height: 130px;

                                .bannerSubContainer {
                                    display: flex;
                                    flex-direction: row;
                                }
                            }

                            .c-header {
                                text-align: center;
                                padding-top: 40px;
                                padding-bottom: 5px;
                                font-size: 25px;
                            }

                            .c-bannerHeader {
                                text-align: center;
                                padding-top: 24px;
                                padding-bottom: 5px;
                                font-size: 18px;
                                font-weight: 600;
                                padding-left: 20px;
                            }

                             .c-timerTitle {
                                padding-top: 24px;
                                padding-bottom: 5px;
                                font-size: 18px;
                                font-weight: 200;
                                padding-left: 4px;
                                min-width: 300px;
                            }

                            .c-testDriveButton {
                                margin-left: 20px;
                                max-width: 200px;
                                padding-bottom: 10px;

                            }

                            .c-subheader {
                                text-align: center;
                                padding-top: 40px;
                                padding-bottom: 5px;
                                font-size: 14px;
                            }

                            .c-animation {
                                text-align: center;
                                margin-left: 40px;
                                padding-bottom: 24px;
                            }

                            .c-progress.f-indeterminate-local.f-progress-large {
                                width: 100%;
                            }

                            .c-box {
                            border-style: solid 
                            }
                    }

                    .videoHolder {
                        width: 567px;
                        display: flex;
                        flex-direction: column;
                        @media (max-width: 1200px) {
                                height: 400px;
                                width: 700px;
                        }

                        .imgContent {
                            cursor: pointer;
                            position: relative;
                            border: 1px solid #E0E0E0;
                            height: 300px;
                            width: 530px;
                            float: left;
                            &:hover,
                            &:focus {
                                border-color: #0078D7;
                            }
                            >img {
                                height: 100%;
                                width: 100%;
                            }
                            @media (max-width: 1200px) {
                                height: 400px;
                                width: 700px;
                            }
                        }

                        .overlay {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        opacity: .75;
                        pointer-events: none;
                        } 

                        .videoContainer {
                            iframe{
                                float: left;
                                border: none;
                            }
                            span {
                                &:after {
                                    content: $glyph-cancel;
                                    width: 16px;
                                    height: 17px;
                                    border: 1px solid black;
                                }
                            }
                        }
                    }
            }
        }

    }
}