.doubleSlider {
    width: 100%;
    height: 20px;
    display: table;
    &>* {
        display: table-cell;
        vertical-align: middle;
    }
    &>span {
        width: 30px;
        text-align: center;
        border: solid 1px #999;
        background: white;
    }
    .centerCell {
        padding: 0 5px;
        .container {
            position: relative;
            .bar,
            .middleBar {
                background: grey;
                height: 5px;
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translate(0, -50%);
            }
            .middleBar {
                background: rgb(40, 85, 166);
                width: auto;
            }
            .slider {
                position: absolute;
                width: 16px;
                height: 16px;
                top: 50%;
                border-radius: 999px;
                background: white;
                border: solid 1px #333;
                cursor: pointer;
                transform: translate(0, -50%);
                outline: none;
                &:active,
                &:focus {
                    border-color: rgb(60, 105, 186);
                }
            }
        }
    }
}