head
  title= title
  link(rel='stylesheet', href='/css/styles_LTR.css')
  script(type='text/javascript').
    window.__INITIAL_STATE__ = !{JSON.stringify(state_data)};
    console.log(!{JSON.stringify(state_data)});
