.context-partners-page {
	/*
	Sprite Icons
	-------------------------*/
	.info-circle, .right-tringle, .right-tringle-white,
	.drop-down {
		background-image: url('images/partnerFormSprites.png');
		background-position: 0 0;
		background-repeat: no-repeat;
		display: inline-block;
		height: 20px;
		line-height: 20px;
		vertical-align: middle;
		width: 20px;
		position: absolute;
	}
	.info-circle {
		left: -38px;
		top: 11px;
	}

	/*
	Homepage Custom Styles
	-------------------------*/
	.c-hero > div > div {
		@media only screen and (min-width: $vp2) {
			width: 100%;
			max-width: 540px;
		}

		@media only screen and (max-width: $vp3-max) {
			margin: 0 auto;
		}
	}

	.c-hero .c-paragraph {
		max-height: none;
		padding-top: 12px;
	}

	.c-hero .c-call-to-action {
		margin-top: 16px;
	}

	.section {
		text-align: center;
		padding-bottom: 60px;

		.partnerSubmitButton {
			margin-left: 15px;
			margin-right: 15px;
			&:hover {
                cursor: pointer;
        	}
		}
	}

	.two {
		background-color: #f7f5f5;
	}

	.three {
		background-color: #0078d7;
	}

	.c-heading-3 {
		padding-top: 60px;
	}

	.two .c-heading-3 {
		padding-bottom: 0;
	}

	.two > div > div:not(:first-child) {
		padding-top: 36px;
	}

	.three .c-paragraph-3 {
		color: #fff;
		padding-bottom: 45px;
	}

	.c-paragraph-3,
	.c-list > li {
		color: #7c7c7c;
	}

	#app-btn {
		color: #0078d7;
		display:inline-block;
		font-weight: 400;
		font-size: 15px;
		line-height: 1.2;
		text-align:center;
		position: relative;
	}

	.right-tringle {
		background-position:-18px 1px;
		left:-24px;
		top:0;
	}

	.guidelineslink {
		text-decoration: underline;
	}
}
