.icon-azure-20 {
  background-image: url("/images/ProductIcons/producticon-sprite.png");
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
}
.icon-dynamics-ax-20 {
  background-image: url("/images/ProductIcons/producticon-sprite.png");
  background-position: -20px 0px;
  width: 20px;
  height: 20px;
}
.icon-dynamics-crm-20 {
  background-image: url("/images/ProductIcons/producticon-sprite.png");
  background-position: 0px -20px;
  width: 20px;
  height: 20px;
}
.icon-dynamics-nav-20 {
  background-image: url("/images/ProductIcons/producticon-sprite.png");
  background-position: -20px -20px;
  width: 20px;
  height: 20px;
}
.icon-power-bi-20 {
  background-image: url("/images/ProductIcons/producticon-sprite.png");
  background-position: 0px -40px;
  width: 20px;
  height: 20px;
}
.icon-office-20 {
  background-image: url("/images/ProductIcons/producticon-sprite.png");
  background-position: -40px 0px;
  width: 20px;
  height: 20px;
}
.icon-project-madeira-20 {
  background-image: url("/images/ProductIcons/producticon-sprite.png");
  background-position: -40px -20px;
  width: 20px;
  height: 20px;
}
